html, body, * {
    padding: 0;
    margin: 0;
}

html {
    background: #3367D6;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 133.3vh;
    background: #000;
}

aside {
    width: 16.7vh;
    height: 100vh;
    background-image: url('static/src/sidebar.gif');
    background-size: cover;
    background-position: right center;
}

aside.aside-right {
    transform: rotate(180deg);
}

main {
    flex: 1;
    height: 100vh;
}

.standby {
    background: #c9c9c9;
    width: 100%;
    height: 100%;
}