<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DEMO</title>
    <script src="./static/recorder.wav.min.js"></script>
    <script src="./static/vue.min.js"></script>
    <link rel="stylesheet" href="./static/animation.css">
    <link rel="stylesheet" href="./static/index.css">
    <link rel="stylesheet" href="./static/common.css">
</head>

<body>
    <div id="app">
        <!-- STANDBY PART -->
        <main v-if="status == state.standby" class="main-standby" v-on:click="updateStatusTo(state.launching)">
        </main>

        <!-- RECORDING PART -->
        <main v-else-if="status == state.launching" class="main-launching">
        </main>

        <!-- ANALYSING PART -->
        <main v-else-if="status == state.analysing" class="main-analysing">
        </main>

        <!-- LAUNCH FAIL PART -->
        <main v-else-if="status == state.launchFail" class="main-launch-fail"
            v-on:click="updateStatusTo(state.launching)">
        </main>

        <!-- MAIN APP PART -->
        <main v-else-if="status == state.working" class="main-working"
            v-bind:class="{'main-audio': step==steps.display}">
            <!-- LEFT SIDE BAR BEGIN -->
            <aside class="aside-right"
                v-bind:class="{'aside-test': step==steps.where, 'aside-choose': step==steps.choose, 'aside-end': step==steps.goodluck}">
                <div class="lights-container fade-animate" v-if="lightsOn" v-on:click="toggleBonus()">
                    <div class="light-bulb" v-bind:class="{active: lights[0], bonus: bonusStatus}"></div>
                    <div class="light-bulb" v-bind:class="{active: lights[1], bonus: bonusStatus}"></div>
                </div>
            </aside>
            <!-- LEFT SIDE BAR END -->

            <!-- MAIN PAGE BEGIN -->
            <div id="stack" class="stack-container">
                <!-- STARTING PAGE -->
                <section class="stack-start-container" v-if="step == steps.start">
                    <div class="loading app-loading"></div>
                </section>

                <!-- ME PAGE -->
                <section class="stack-section-container stack-text-container" v-if="step == steps.me">
                    <text-flow v-bind:texts="['HELLO,', 'ME']" v-bind:delay="1500" v-bind:wait="0" container-class="flex-v-center flex-h-center"
                        text-class="font-codeb font16 h25"></text-flow>
                </section>

                <section v-if="step == steps.meafter"></section>

                <!-- WHERE PAGE -->
                <section class="stack-section-container stack-text-container" v-if="step == steps.where">
                    <text-flow v-bind:texts="whereTexts" v-bind:max-counter="5" v-bind:wait="3"
                        text-class="text-justify font-codeb font14 h25" v-on:finish="whereDialogOn = true"
                        v-bind:delay="500">
                    </text-flow>
                    <div class="dialog" v-if="whereDialogOn">
                        <div class="dialog-title">
                            <span>閣下對該問題的答案：</span>
                            <button class="dialog-close" v-on:click=nextStep(steps.choose)>×</button>
                        </div>
                        <form autocomplete="off" class="dialog-content"
                            onkeydown="if(event.keyCode==13){return false;}">
                            <input type="text" name="where" v-model="whereAns" autofocus>
                            <button type="button" class="dialog-button" v-on:click="submitWhere()">確認</button>
                        </form>
                    </div>
                </section>

                <!-- CHOOSE PAGE -->
                <section class="stack-section-container" v-if="step == steps.choose">
                    <div class="font-pixel font4">選擇以下<br>閣下所想之選項</div>
                    <ul class="section-selections">
                        <li class="section-selections-item font-pixel font4" v-for='(choice, index) in chooseSelections'
                            v-on:click='makeChoice(index)'>
                            {{choice.content[0]}}
                        </li>
                    </ul>
                </section>

                <!-- DISPLAY PAGE -->
                <section class="stack-section-container section-audiobook-container" v-if="step == steps.display">
                    <text-flow v-bind:texts="chooseSelections[selectionAns].content.slice(1)"
                        text-class="font6 font-poem" v-bind:delay="1500" v-on:finish="displayBtnOn = true"
                        v-bind:more="3"></text-flow>
                    <div class="button-group" v-if="displayBtnOn && audio.readyState > 1">
                        <div class="button-large" v-bind:class="[nextClass]" v-on:click="nextStep(steps.loadingBonus)">
                        </div>
                        <div class="button-large button-replay" v-on:click="replay()" v-show="audioEnded"></div>
                    </div>
                </section>

                <!-- LOADING BONUS PAGE -->
                <section class="stack-text-container" v-if="step == steps.loadingBonus">
                    <div class="loading bonus-loading"></div>
                </section>

                <!-- BONUS DISPLAY PAGE -->
                <section class="stack-section-container" v-if="step == steps.bonus">
                    <text-flow v-bind:texts="bonus[bonusAns].split('\n')" text-class="font6 font-poem"
                        v-bind:delay="1500" v-on:finish="nextStep(steps.goodluckLoading)" v-bind:more="5"></text-flow>
                </section>

                <!-- GOOD LUCK PAGE -->
                <section class="stack-section-container" v-if="step == steps.goodluckLoading || step == steps.goodluck">
                    <text-flow v-bind:texts="goodluckTexts" v-bind:delay="400" loop v-bind:maxCounter="4"
                        text-class="text-justify font-codeb font16 h25" v-if="step == steps.goodluck"></text-flow>
                    <div class="button-group">
                        <div class="button-large button-quit" v-on:click="updateStatusTo(state.standby)"></div>
                    </div>
                </section>
            </div>
            <!-- MAIN PAGE END -->

            <!-- RIGHT SIDE BAR BEGIN -->
            <aside v-bind:class="{'aside-test': step==steps.where, 'aside-choose': step==steps.choose, 'aside-end-right': step==steps.goodluck}">
                <div class="footer-container fade-animate" v-bind:class="[cornerClass]" v-if="footerOn"></div>
            </aside>
            <!-- RIGHT SIDE BAR END -->
        </main>
        <audio style="display: none" id="appAudio">
            <source src="">
        </audio>
    </div>
</body>

<footer>
    <script src="./static/local/text.js"></script>
    <script src="./static/local/record.js"></script>
    <script src="./static/local/vue.js"></script>
    <script src="./static/src/coner0.js"></script>
    <script src="./static/local/index.js"></script>
</footer>

</html>